* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: white;
}

.home-page {
    width: 100%;
    height: 800px;
    background-color: #3c065e;
}

.nav-bar {
    height: fit-content;
}

.logo{
    margin-top: 15px;
}

.links ul {
    list-style: none;
    margin-top: 16px;
}

.links ul li {
    margin-right: 1rem;
}

.links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.Home-content {
    justify-content: space-between;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}

.home-text {
    width: 50%;
    word-wrap: normal;
}

h1{
    font-weight: 700;
}

.home-text-des {
    margin-top: 30px;
}

.home-img {
    transform: translateY(-45px);
    width: 50%;
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
}

.home-img img {
    max-width: 100%;
}

.home-text-btn {
    margin-top: 30px;
    width: 40%;
}

.key-futures {
    margin-top: 100px;
    height: fit-content;
}

.key-futures-head {
    color: black;
    margin-bottom: 30px;
}

.key-futures-img {
    width: 50%;
}

.key-futures-img img {
    width: 100%;
}

.key-futures-boxs {
    width: 50%;
    height: 320px;
}

.boxs {
    width: 46%;
    height: 150px;
    margin: 0 2% 2% 2%;
}

.box1 {
    background-color: #29b7dd;
}

.box2 {
    background-color: #8b72ee;
}

.box3 {
    background-color: #442ba7;
}

.box4 {
    background-color: #ca7aff;
}

.box-img {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.box-img img {
    width: 48px;
    height: 48px;
}

.data-Visualiz {
    margin-top: 100px;
    height: fit-content;
    width: 100%;
    background-color: #3c065e;
}


.data-Visualiz-img {
    width: 70%;
}

.data-Visualiz-img img{
    width: 100%;
}

.data-Visualiz-text {
    width: 20%;
}

.our-skills-content {
    margin-top: 100px;
}

.our-skills-title {
    color: #000;
}

.our-skills-image {
    width: 70%;
}
.our-skills-image img{
    width: 100%;
}

.progres-bars {
    width: 30%;
}

.our-skills-progress {
    width: 100%;
    margin-top: 100px;
}

.progres-box-title h3{
    color: #000;
    font-weight: 700;
}

.main-value {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

.plus-value {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3c065e;
}

.progress-bar {
    width: 100%;
    height: 20px;
    position: relative;
    z-index: -1;
    background-color: #eee;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.progress {
    width: 0%;
    height: inherit;
    position: relative;
    z-index: -1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.progres-animation {
    animation-name: progress;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.shape{
    display: inline-block;
    position: relative;
    top: -25px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    z-index: 3;
    border-radius: 15px;
    background-color: #fbeded;
    border: 5px solid;
}

.shape-animation {
    animation-name: progress-icon;
    animation-duration: 3s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.progres-box1 .shape {
    border-color: #10a2d1;
}

.progres-box2 .shape {
    border-color: #3c065e;
}

.progres-box3 .shape {
    border-color: #5563bc;
}

.progres-box4 .shape {
    border-color: #f372f1;
}

.progres-box1 .plus-value {
    color: #10a2d1;
}

.progres-box1 .progress {
    background-color: #10a2d1;
}

.progres-box2 .plus-value {
    color: #3c065e;
}

.progres-box2 .progress {
    background-color: #3c065e;
}

.progres-box3 .plus-value {
    color: #5563bc;
}

.progres-box3 .progress {
    background-color: #5563bc;
}

.progres-box4 .plus-value {
    color: #f372f1;
}

.progres-box4 .progress {
    background-color: #f372f1;
}

@keyframes progress {
    to {
        width: 99%;
    }
}

@keyframes progress-icon {
    from {
        position: relative;
        left: 0%;
    }

    to {
        position: relative;
        left: 94%;
    }
}

.our-team {
    margin-top: 100px;
    height: fit-content;
    width: 100%;
    background-color: #3c065e;
}

.our-team-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.our-team-card {
    width: calc(100% / 3);
    background-color: #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-image{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.card-image img{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-jop {
    color: #b3b3b3;
    font-weight: 700;
}

.card-name {
    color: #3c065e;
    font-weight: 600;
}

.card-contact ul {
    list-style: none;
    margin-left: -10px;
}

.card-contact ul li {
    display: inline-block;
    margin-right: -10px;
}

.card-title,
.card-des,
.card-contact {
    margin-left: 25px;
}

.card-des,
.card-contact  {
    margin-top: 10px;
}
.feedback {
    margin-top: 100px;
}

.feedback-title {
    color: #000;
}

.feedback-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.feedback-card {
    width: 40%;
    height: 250px;
    background-color: #eee;
    margin: 0 4% 8%;
}

.feedback-card::before {
    content: ".";
    background-image: url(../Images/icons8-quote-left-96\ \(2\).png);
    display: inline-block;
    width: 96px;
    height: 96px;
    position: relative;
    left: 30px;
    top: -40px;
}

/* //Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 600px) {

    .Home-content {
        display: flex;
        flex-direction: column;
        margin: auto;
}

    .home-text {
        width: 100%;
    }

    .home-text-des {
        margin-top: 20px;
    }

    .home-img {
        width: 100%;
        margin-top: 30px;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    .home-img img {
        max-width: 80%;
    }

    .home-text-btn {
        margin-top: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: .88rem;
    }

    .key-futures {
        height: 900px;
    }

    .key-futures-img {
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
    }

    .key-futures-img img {
        height: 250px;
    }

    .key-futures-boxs {
        width: 90%;
        margin: auto;
    }

    .boxs {
        width: 100%;
        height: 120px;
    }

    .data-Visualiz-img,.data-Visualiz-text {
        width: 100%;
    }

    .data-Visualiz-text {
        margin-top: 40px;
    }

    .list {
        margin-bottom: 40px;
    }

    .our-skills-image {
        width: 100%;
    }
    
    .progres-bars {
        width: 80%;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    .progres-box-title h3{
        font-weight: 600;
    }
    
    .main-value {
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .plus-value {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .our-team-cards {
        flex-wrap: wrap;
    }

    .our-team-card {
        width: 100%;
    }

    .card-image {
        width: 80%;
    }

    .feedback-card {
        width: 95%;
        height: fit-content;
        margin: 0 auto 80px auto;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .home-text {
        width: 100%;
    }

    .home-img {
        width: 900%;
        margin-top: 20px;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    .home-img img {
        max-width: 70%;
    }

    .key-futures-img {
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
    }

    .key-futures-boxs {
        width: 90%;
        margin: auto;
    }

    .data-Visualiz-img,.data-Visualiz-text {
        width: 100%;
    }

    .data-Visualiz-text {
        margin-top: 40px;
    }

    .list {
        margin-bottom: 40px;
    }

    .our-skills-image {
        width: 100%;
    }
    
    .progres-bars {
        width: 80%;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    .our-team-cards {
        flex-wrap: wrap;
    }

    .our-team-card {
        width: 70%;
    }

    .feedback-card {
        width: 95%;
        margin: 0 auto 80px auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .key-futures-boxs {
        height: 240px;
    }

    .boxs {
        width: 46%;
        height: 110px;
    }

    .data-Visualiz-img,.data-Visualiz-text {
        width: 100%;
    }

    .data-Visualiz-text {
        margin-top: 40px;
    }

    .list {
        margin-bottom: 40px;
    }

    .our-skills-image {
        width: 100%;
    }
    
    .progres-bars {
        width: 80%;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    .our-skills-progress {
    }

    .our-team-cards {
        flex-wrap: wrap;
    }

    .our-team-card {
        width: 70%;
    }

    .feedback-card {
        width: 95%;
        margin: 0 auto 80px auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .key-futures-img img {
        height: 320px;
    }

    .boxs {
        height: 155px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .key-futures-img img {
        height: 320px;
    }

    .boxs {
        height: 155px;
    }
}
